[package]
edition      = "2024"
name         = "lightning-js"
rust-version = "1.85"
version      = "0.1.0"

[lib]
crate-type = ["cdylib"]

[dependencies]
bitcoin-payment-instructions = { version = "0.5.0", default-features = false, features = [
  "http",
] }
# Branch: https://github.com/moneydevkit/ldk-node/commits/lsp-0.7.0_accept-underpaying-htlcs_with_timing_logs
ldk-node    = { default-features = false, git = "https://github.com/moneydevkit/ldk-node.git", rev = "b51e5de40e9ea69e84ccdb1ec1b45cf4dd89d95d" }
napi        = { version = "2", features = ["napi4"] }
napi-derive = "2"
tokio       = { version = "1", features = ["rt-multi-thread"] }
writeable   = { version = "=0.6.2", features = ["alloc"] }

[build-dependencies]
napi-build = "=2.2.4"

[profile.release]
opt-level = 3          # Maximum runtime performance
lto = true             # Link-time optimization for smaller/faster binary
codegen-units = 1      # Better optimization (slower compile)
strip = "debuginfo"    # Remove debug info but keep symbols for crash reports

[dev-dependencies]
bitcoin           = "0.32"
lightning-invoice = "0.33.2"
