[package]
edition = "2021"
name    = "lightning-js"
version = "0.1.0"

[lib]
crate-type = ["cdylib"]

[dependencies]
bitcoin-payment-instructions = { version = "0.5.0", default-features = false, features = [
  "http",
] }
# Branch: https://github.com/moneydevkit/ldk-node/commits/lsp-0.6.2/
ldk-node    = { default-features = false, git = "https://github.com/moneydevkit/ldk-node.git", rev = "fb859bcd589174d3c61617154b317e7b835bc620" }
napi        = { version = "2", features = ["napi4"] }
napi-derive = "2"
tokio       = { version = "1", features = ["rt-multi-thread"] }
# Temporary pin: ldk-node pulls in home 0.5.12 which needs edition2024 cargo
home = "=0.5.11"
# Pin ICU crates to keep MSRV at 1.82.0
icu_collections = "=2.0.0"
icu_locale_core = "=2.0.0"
icu_normalizer  = "=2.0.0"
icu_properties  = "=2.0.1"
icu_provider    = "=2.0.0"
writeable       = { version = "=0.6.2", features = ["alloc"] }

[build-dependencies]
napi-build = "=2.2.4"

[profile.release]
lto = true

[dev-dependencies]
bitcoin           = "0.32"
lightning-invoice = "0.33.2"
