[package]
name    = "lightning-js"
version = "0.1.0"
edition = "2024"
rust-version = "1.85"

[lib]
crate-type = ["cdylib"]

[dependencies]
bitcoin-payment-instructions = { version = "0.5.0", default-features = false, features = [
  "http",
] }
# Branch: https://github.com/moneydevkit/ldk-node/commits/lsp-0.6.2_accept-unerpaying-htlcs/
ldk-node    = { default-features = false, git = "https://github.com/moneydevkit/ldk-node.git", rev = "ec8c62e5185c35f30453d837cf7e7d0c6b420fb6" }
napi        = { version = "2", features = ["napi4"] }
napi-derive = "2"
tokio       = { version = "1", features = ["rt-multi-thread"] }
writeable       = { version = "=0.6.2", features = ["alloc"] }

[build-dependencies]
napi-build = "=2.2.4"

[profile.release]
lto = true

[dev-dependencies]
bitcoin           = "0.32"
lightning-invoice = "0.33.2"
